<div class="paginator">
  <span class="paginator__child">Всего:{{length}}</span>
  <span class="paginator__child">На страницу: {{perPage}}</span>
  <span class="paginator__child">
    <button (click)="previousPage()">Пред</button>
  </span>
  <span class="paginator__child">Стр. {{page}}/{{maxPages}}</span>
  <span class="paginator__child">
    <button (click)="nextPage()">След</button>
  </span>
</div>
