:host {
  position: absolute;
  width: 300px;
  height: auto;
  top: 0;
  background-color: white;
  padding: 8px;
  z-index: 1000;
  margin: 300px 50%;
}

.del-dialog {
  display: flex;
  flex-direction: column;
}

.del-dialog__title {
  text-align: center;
  height: 48px;
  line-height: 48px;
  font-size: 16pt;
}

.del-dialog__message {
  text-align: justify;
  padding: 8px 0;
}

.del-dialog__actions {
  display: flex;
}

.action {
  flex-grow: 1;
}
