<div class="del-dialog">
  <div class="del-dialog__title">
    Действиетльно удалить?
  </div>
  <div *ngIf="message"
       class="del-dialog__message"
  >
    {{message}}
  </div>
  <div class="del-dialog__actions">
    <button class="action" (click)="confirm(true)">Да</button>
    <button class="action" (click)="confirm(false)">Нет</button>
  </div>
</div>
