.marker-list {
  display: flex;
  flex-direction: column;
}

.marker-list__row {
  display: block;
  height: 48px;
}

.marker-list__row-content {
  display: flex;
}

.marker {
  font-size: 14pt;
  height: inherit;
  cursor: pointer;
  margin: 8px 8px;
  display: flex;
}

.marker__content {

}

.marker__actions {

}

.marker-active {
  background-color: red;
}

.marker__name {
  color:black;
  display: flex;
}

.marker__latlng {
  font-size:  10pt;
  color: #808080;
}

.marker:hover {
  background-color: #ff5459;
}

.marker:hover .marker__name {
  color: #f7f7f7;
}

.marker:hover .marker__latlng {
  color: #f7f7f7;
}

.marker-active .marker__latlng {
  color: #f7f7f7;
}

.marker-active .marker__name {
  color: white;
}

.marker-active:hover {
  background-color: red;
}

