<div class="marker-list">

  <div class="marker-list__row">
    <app-paginator [length]="paginatorLength" (page)="paginateMarkers($event)"></app-paginator>
  </div>

  <div class="marker-list__row">
    <div class="input-wrapper">
      <input #filterInput type="text" placeholder="Фильтр" (input)="filterMarkers(filterInput.value)">
    </div>
  </div>

  <ng-container *ngFor="let mapMarker of filteredMapMarkers | async">

    <div class="marker-list__row">
      <div class="marker"
           [class.marker-active]="mapMarker.isActive"
           (click)="activateMarker(mapMarker)"
      >
        <div class="marker__content">
          <div class="marker__name">
          <span>
            {{mapMarker.name}}
          </span>
            <span class="flex-spacer"></span>
          </div>
          <div class="marker__latlng">
            {{mapMarker.getLatLngString()}}
          </div>
        </div>
        <div class="flex-spacer"></div>
        <div class="marker__actions">
          <button (click)="hiddenStateMarkerChanger(mapMarker); $event.stopPropagation()">
            <ng-container *ngIf="!mapMarker.isHidden">Скр.</ng-container>
            <ng-container *ngIf="mapMarker.isHidden">Показ.</ng-container>
          </button>
          <button (click)="removeMarker(mapMarker)">Уд.</button>
        </div>


      </div>
    </div>

  </ng-container>
</div>
