/* You can add global styles to this file, and also import other style files */
.flex-spacer {
  flex: 1 1 auto;
}

.input-wrapper {
  margin: 8px 8px;
}

.input-wrapper input {
  border: none;
  border-bottom: 1px solid grey;
  width: 100%;
  min-width: 100px;
}
